{% extends "base.html" %} 
{% block title %}Home{% endblock %}

{% block content%}

<div>
    <div class="container">
        <div class="profile">
            <div class="profile-header">
                <img src="{{ url_for('static', filename='profile_image.png') }}" width="600" height="300" alt="profile" class="profile-img" />
                <div class="profile-text-container">
                    <h1 class="profile-title">{{ user.first_name if user else "First Name" }}</h1>
                    <p class="profile-email">{{ user.email if user else "Email" }}</p>
                </div>
            </div>

            <div class="menu">
                <a href="#" class="menu-link"><i class="fa-solid fa-circle-user menu-icon"></i>Account</a>
                <a href="#" class="menu-link"><i class="fa-solid fa-bell menu-icon"></i>Notification</a>
                <a href="#" class="menu-link"><i class="fa-solid fa-gear menu-icon"></i>Setting</a>
                <a href="#" class="menu-link"><i class="fa-solid fa-right-from-bracket menu-icon"></i>Logout</a>
            </div>
        </div>

        <form class="account" method="POST">
            <div class="account-header">
                <h1 class="account-title">Account Setting</h1>
                <div class="btn-container">
                    <button class="btn-cancel" type="reset">Cancel</button>
                    <button class="btn-save" type="submit">Save</button>
                </div>
            </div>

            <div class="account-edit">
                <div class="input-container">
                    <label>First name</label>
                    <input type="text" name="first_name" placeholder="First name" value="{{ user.first_name if user else '' }}" />
                </div>
                <div class="input-container">
                    <label>Last name</label>
                    <input type="text" name="last_name" placeholder="Last name" value="{{ user.last_name if user else '' }}" />
                </div>
            </div>

            <div class="account-edit">
                <div class="input-container">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Email" value="{{ user.email if user else '' }}" />
                </div>
                <div class="input-container">
                    <label>Phone Number</label>
                    <input type="text" name="phone" placeholder="Phone number" value="{{ user.phone if user else '' }}" />
                </div>
            </div>
            <div class="account-edit">
                <div class="input-container">
                    <label>Bio</label>
                    <textarea name="bio" placeholder="Bio">{{ user.bio if user else '' }}</textarea>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %} 