{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h2 class="title">Pore-Clogging Ingredients Checker</h2>
    <p>This tool assists in identifying whether a product contains pore-clogging ingredients. Products containing comedogenic substances may clog pores, potentially exacerbating breakouts or worsening acne.</p>
    <h3>To help you get clear,here's how you can determine whether the products are safe:</h3>
    <ol>
        <li class="list">You should google the full name of your product and add 'ingredients' at the end. <br>For example: "Skintific Salicylic Acid Serum ingredients.</br></li>
        <li class="list">Copy the ingredients deck and insert it in the field below.</li>
        <li class="list">Hit 'Check' and get the results.</li>
    
{% endblock %}