{% extends "base.html" %} 

{% block title %}About Us{% endblock %} 

{% block content%}
<Html>
    <body>
        <h1>About Us</h1>
    <br>
        <p>Here at EtherealGlow, we're dedicated to transforming your skincare regimen with customized products that bring out the best in your skin. 
            We at EtherealGlow understand that there is no one-size-fits-all approach to skincare. Our philosophy is based on the idea that each person should have a skincare routine that takes care of their particular issues and brings out their natural beauty. 
            Our team of professionals is passionate about skincare and has a lot of experience to help you every step of the process. 
            We provide a wide range of tools and advice catered to your individual needs, whether you're trying to treat chronic acne, finding anti-aging solutions, or just wanting to look younger and more refreshed. 
            Our dedication to skincare with scientific support guarantees that you'll get reliable guidance and products that produce tangible outcomes. 
            Come experience a life-changing journey toogether at EtherealGlow towards happier, healthier skin. Together, let's reveal the ethereal glow on your skin.</p>
    <br>
    <br>
    <br>
<h1>Our Vision</h1>
<br>
<p>We should all envision and goal to make sure we deliver the best advice and guidence about skin care to our seekers to make sure we battle with the misinformation that is being spread on the web and thread everyone to the correct path.</p>

</body>
</Html>

{% endblock %}