{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div>
    <section class="aboutUs" id="aboutUs">
        <div class="content">
            <span>About Us</span>
            <br>
                <p>Welcome to EtherealGlow, your ultimate destination for skincare enlightenment and empowerment. At EtherealGlow, we're dedicated to revolutionizing your skincare journey by providing an array of innovative features designed to illuminate the path to radiant, healthy skin.<br><br>

                    Our centerpiece is the Skincare Ingredients Analyzer, a powerful tool meticulously crafted to decode the mysteries of skincare product labels. With just a few clicks, users can uncover whether a product contains comedogenic or non-comedogenic ingredients, empowering them to make informed decisions tailored to their skin's unique needs.<br><br>
                    
                    But that's just the beginning. Dive into our vibrant community through our interactive blog platform, where users can share their insights, tips, and experiences on all things skincare. Whether it's a transformative routine, a beauty revelation, or an uplifting anecdote, our blog serves as a sanctuary for inspiration and connection.<br><br>
                    
                    Delve deeper into the realm of skincare wisdom by exploring our curated collection of reviews and feedback. Discover firsthand accounts from fellow enthusiasts, glean invaluable insights, and contribute your own experiences to enrich our collective knowledge.<br><br>
                    
                    Seeking personalized guidance? Look no further than our Recommendation Tool, designed to offer tailored skincare recommendations based on individual skin types and categories. Let us be your trusted guide on the quest for your perfect skincare regimen.<br><br>
                    
                    And with our intuitive search functionality, finding your favorite products has never been easier. Explore our extensive database, and if you can't find what you're looking for, contribute to our community-driven platform by adding new products.<br><br>
                    
                    At EtherealGlow, we believe that skincare is not just a routine—it's a journey of self-discovery and self-care. Join us on this illuminating adventure, and let your inner glow shine brighter than ever before.
                    
                    
                    
                    </p>
            <br>
            <br>
            <br>
        <span>Our Vision</span>
        <br>
        <p>At EtherealGlow, our vision is to foster a vibrant community where skincare enthusiasts come together to share knowledge, inspire one another, and celebrate the beauty of healthy, glowing skin.</p>
        </div>
    </section>
    
{% endblock %}