

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name ="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    
    <body>

        <div class="header"><h1>EtherealGlow ❀*̥˚</h1></div>
        <input type="checkbox" class="toggle-Sidebar" id="toggle-Sidebar">
        <label for="toggle-Sidebar" class="toggle-icon">
            <div class="bar-top"></div>
            <div class="bar-center"></div>
            <div class="bar-bottom"></div>
        </label>

        
        <div class="sidebar">
            <ul class="menu">
                <li><a href="/home">Home</a></li> 
                <li><a href="/Blog">Blog</a></li>
                <li><a href="/display_feedbacks">View Feedbacks</a></li>
                {% if user and user.is_authenticated %}            
                    <li><a href="/Logout">Logout</a></li>
                    <li><a href="/feedback">Leave a Feedback</a></li>
                {% else %}
                    <li><a href="/Login">Login</a></li>
                    <li><a href="/Signup">Sign Up</a></li>
                {% endif %}
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </div>
        
        


        {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == "error"%}
                <div class="alert alert-danger alter-dimissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>   
            {% else %}
                <div class="alert alert-success alter-dimissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>  
        {% endif %}

        {% endfor %}
      {% endif %}
    {% endwith %}
        
    

        <div class="content">
            {% block content%} {% endblock %}
        </div>
        <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    </body>
</html>