{% extends "base.html" %} 

{% block title %}EtherealGlow{% endblock %} 

{% block content%}
<section class="blogPage" id="blogPage">
    <div class="content">
        <br><br><br><br>
        <h3>EtherealGlow❀*̥˚</h3>
            <span>Makeup is art. Beauty is spirit.</span>
            <p>Seeking a dose of positivity and support? Dive into our blog posts for a boost of good vibes and encouragement!</p>
            <a href="/Blog" class="btn">blog posts</a>
    </div>    
</section>

<section class="createPost" id="createPost">
    <div class="content">
       <!-- <h1 class="title" align = "center">Share your skin-journey here!</h1>-->
        <span>Share your skin-journey here!</span>
        <br><br>
        <form method ="POST">

            <div class="feedback-box">
                <div class="feedback-row">
                    <textarea type="text" id="text" name="text" class="form-control" placeholder="Share your skin journey with us and inspire others on their path to radiant, healthy skin!" required></textarea>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-25">
                    <label for="skintype">Skin Type:</label>
                </div>
                <div class="col-75">
                    <select id="skintype" name="skintype" required>
                    <option value="">Select your skin type...</option>
                    <option value="Combination">Combination</option>
                    <option value="Normal">Normal</option>
                    <option value="Sensitive">Sensitive</option>
                    <option value="Oily">Oily</option>
                    <option value="Dry">Dry</option>
                    </select>
                </div>
            </div>
            <br />
            <div align = "center">
                <button type="submit" class = "btn btn btn-primary">Post</button>
            </div>
            <br />
            <div align = "center">
                <a href=/Blog><button type="button" class = "btn btn btn-primary">back</button></a>
            </div>
        </form>

    </div>
</section>        

{% endblock %}