{% extends "base.html" %} 

{% block title %}EtherealGlow{% endblock %} 

{% block content%}
<h1 class="title" align = "center">Share your skin-journey here!</h1>

<form method ="POST">
    <textarea name="text" id="text" class="form-control"></textarea>
    <br />
    <h3>Select your skin type : </h3>
    <div class="radio-group">
        <label><input type="radio" value="Oily" name="skintype"> Oily </label><br />
        <label><input type="radio" value="Normal" name="skintype"> Normal</label><br />
        <label><input type="radio" value="Sensitive" name="skintype"> Sensitive</label><br/>
        <label><input type="radio" value="Combination" name="skintype"> Combination</label><br />
        <label><input type="radio" value="Dry" name="skintype"> Dry  </label><br />
    </div>
    <br />
    <div align = "center">
        <button type="submit" class = "btn btn btn-primary">Post</button>
    </div>
    <br />
    <div align = "center">
        <a href=/Blog><button type="button" class = "btn btn btn-primary">back</button></a>
    </div>
</form>

{% endblock %}