{% extends "base.html" %} 

{% block title %}Analyzer{% endblock %} 

{% block content %}
<section class="directory" id="directory">
    <div class="content">
        <br>
        <h3>Welcome to EtherealGlow❀*̥˚ </h3>
        <span>your go-to destination for achieving your healthiest and most radiant skin.</span>
    </div>
</section>    

<section class="segment" id="segment">
    <div class="segment-row">
        <div class="segment-desc">
            <h3>ANALYZER TOOL</h3>
            <span>Discover your favourite skincare!</span>
            <p>Uncover the secrets to healthier, happier skin with our ingredients analyzer tool – empowering you to make informed choices for your skincare routine.</p>
            <a href="/analyzer" class="try-button">Try now!</a>
        </div>

        <div class="segment-desc">
            <h3>LEAVE A FEEDBACK</h3>
            <span>Your voice matters! </span>
            <p>Share your skincare experience with us and help others discover the perfect regimen through your valuable feedback and reviews.</p>
            <a href="/feedback" class="try-button">Share now!</a>
        </div>

        <div class="segment-desc">
            <h3>CREATE POST</h3>
            <span>Create a sharing!</span>
            <p>Join our skincare community and ignite inspiration by sharing your insights and beauty tips through captivating blog posts, empowering others to embark on their own radiant skin journey.</p>
            <a href="/create_post" class="try-button">Create now!</a>
        </div>
        
        <div class="segment-desc">
            <h3>RECOMMENDATIONS</h3>
            <span>Get your recommendation now!</span>
            <p>Unlock personalized skincare solutions tailored to your unique needs with our recommendation feature, guiding you towards the perfect products that harmonize perfectly with your skin's needs and aspirations.</p>
            <a href="/recommendations" class="try-button">Get now!</a>
        </div>
    </div>
</section>

{% endblock %}