{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div>
    <section class="home" id="home">
        <div class="content">
            <br><br><br><br>
            <h3>EtherealGlow❀*̥˚</h3>
            <span>Natural & Glowing Skin</span>
            <p>Want healthy looking skin? Explore EtherealGlow to discover your next holy grail skincare product.</p>
            <a href="/analyzer" class="btn">explore now</a>
        </div>
    </section>
    
    
{% endblock %}