{% extends "base.html" %}

{% block title %}EtherealGlow Blog{% endblock %}

{% block content %}
<section class="recommendation" id="recommendation">
    <div class="content">
<h3>Get your product recommendation here!</h3>
<br>
<!--method-->
<h3>Wait and Watch Method</h3>
<br>
<span>This home test allows you to understand your skin type by observing how your skin behaves after cleansing.</span>
<ul>
    <li><p>Wash your face with a gentle cleanser, then gently pat it dry.</p></li>
    <li><p>Wait 30 minutes.</p></li>
    <li><p>If your skin appears shiny throughout, you likely have <b>oily skin</b>.</p></li>
    <li><p>If it feels tight and is flaky or scaly, you likely have <b>dry skin</b>.</p></li>
    <li><p>If the shine is only in your T-zone, you probably have <b>combination skin</b>.</p></li>
    <li><p>If your skin feels hydrated and comfortable, but not oily, you likely have <b>normal skin</b>.</p></li>
</ul>

<form id="recommendation-form" method="POST" action="/recommendations">
    <!--dropdown menu for skin type-->
    <div>
        <label for="skintype">Select your skin type:</label><br />
        <select id="skintype" name="skintype" required> <!--dropdown-->
            <option value="">Select your skin type..</option>
            <option value="combination">Combination</option>
            <option value="dry">Dry</option>
            <option value="normal">Normal</option>
            <option value="oily">Oily</option>
            <option value="sensitive">Sensitive</option>
        </select>
    </div><br />

    <!--dropdown menu for skincare product-->
    <div>
        <label for="product_category">Select skincare product you want:</label><br />
        <select id="product_category" name="product_category" required> <!--dropdown-->
            <option value="">Select a skincare product...</option>
            <option value="cleanser">Cleanser</option>
            <option value="toner">Toner</option>
            <option value="serum">Serum</option>
            <option value="essence">Essence</option>
            <option value="moisturizer">Moisturizer</option>
            <option value="sunscreen">Sunscreen</option>
        </select>
    </div><br />

    <div align="center">
        <input type="submit" value="Get Recommendation">
    </div>
</form>
<br><br>
<!--result-->
<div id="recommendation-results">
    <h3>Product recommendations:</h3>
    {% if suggestions %}
        {% for product in suggestions %}
            <div class="product-box">
                <h4>{{ product.product_brand }}</h4>
                <p><strong>Product Name:</strong> {{ product.product_name }}</p>
                <p><strong>Product Category:</strong> {{ product.product_category }}</p>
                <p><strong>Skin Type:</strong> {{ product.skintype }}</p>
                <p><strong>Ingredients:</strong> {{ product.product_ingredients }}</p>
            </div>
            <br />
        {% endfor %}
    {% else %}
        <p>No recommendations found.</p>
    {% endif %}
</div>
</div>
</section>

{% endblock %}